.arrowPadding {
    margin-left: 15px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayDiv {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
    padding: 40px;
    position: fixed;
    display: block;

    &:focus {
        outline: 'none';
    }
}

.icon {
    float: right;
}

.btnContainer {
    margin-bottom: 24px,
}

.responsiveImg {
    max-width: 100%;
}