.image {
    float: right;
    max-width: 250px;
    margin: 0 0 25px 25px;
}

.skillList {
    padding: 0;

    .skillItem {
        margin-bottom: -25px;
    }

    .icon {
        margin-right: 8px;
    }
}